<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Usqele - Super Simple Database Manager.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body>
    <!-- HEADER -->
    <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid"> <a class="navbar-brand text-primary" href="#">
        <b class="text-white"> Usqele</b>
        <small class="small">Super Simple Database Manager.</small>
      </a> </div>
    </nav>
    <!-- MAIN CONTENT -->
    <main class="container-fluid pt-2">
        <div class="card-group">
            <div class="card">
                <div class="card-header">MariaDB</div>
                <div class="card-body">
                    <img src="/static/icons/mariadb.png" height="80em" alt="MariaDB">
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="/login">Connect MariaDB</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">MySQL</div>
                <div class="card-body">
                    <img src="/static/icons/mysql.png" height="80em" alt="MariaDB">
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="/login">Connect Mysql</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">PostgreSQL</div>
                <div class="card-body">
                    <img src="/static/icons/postgresql.png" height="80em" alt="MariaDB">
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block disabled" href="/login">Connect Mysql</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Oracle</div>
                <div class="card-body">
                    <img src="/static/icons/oracle.svg" height="80em" alt="MariaDB">
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-block disabled" href="/login">Connect Mysql</a>
                </div>
            </div>
        </div>

    </main>
    <!-- FOOTER -->
    <div class="fixed-bottom p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0"><B>Usqele</B> / Developed by <B>{{ AUTHOR }}</B>, to contact use <B>{{AUTHOR_EMAIL}}</B>.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
